<section class="content">
    <div class="row" id="addAppointment">
        <!-- left column -->
        <div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Add Appointment</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form">
				<div class="box-body">
					<div id = "left">
						
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<input class="form-control" id="doctor" placeholder="Search Doctor"type="text" >
								</div>
								<div class="col-xs-6">
									<input class="form-control" id="patien" placeholder="Search Patient" type="text" data-bind="value:label">
								</div>
							</div>
						</div>
				</div>
			</form>
		</div>
		<!-- /.box -->
	</div>
	<!-- /.box -->
</div>
<div class="box-footer">
					<button type="button" class="btn btn-primary" onclick="new Patient().savePatient()">Submit</button>
					<button type="button" class="btn btn-primary"
						onclick="new Patient().loadPatientsPageList()">Cancel</button>
				</div>
<!-- /.box-body -->
</section>