<section class="content">



	<div class="row activediv">

		<div class="col-md-12">
			<!-- general form elements -->

			<!-- form start -->
			<form role="form" id="medicationForm">
				<div class="box-body">
					<div id="left">

						<div class="form-group">
							<div class="row">
								<div class="col-xs-12">
									<label>Medication Name</label> <input class="form-control" data-bind="value:name"
										id="medication" placeholder="Medication Name" type="text"
										validation="required"> <span class="help-block"></span>
								</div>
								
							</div>
							<div class="row">
								<div class="col-xs-12">
									<label>Medication Type</label> <select
										data-bind="options:types,optionsText:'name',optionsValue:'id',value:type"
										class="form-control" id="medtype" required>
									</select>
								</div>

							</div>

						</div>
					</div>
				</div>
			</form>
			<!-- </div> -->
			<!-- /.box -->
			<div class="box-footer">
				<div class="col-md-5">
					<button type="button" class="btn btn-block btn-info" onclick="new Medications().saveMedication()">Submit</button>
				</div>
				<div class="col-md-5">
					<button type="button" class="btn btn-block btn-danger btn-flat"
						onclick="WsUtils.hidePopup()">Cancel</button>
				</div>
			</div>

		</div>
		<!-- /.box -->
	</div>


	<!-- /.box-body -->
</section>