<section class="content">


	
	<div class="row activediv" id="addAppointment">
		
		<div class="col-md-12">
			<!-- general form elements -->
			
			<!-- form start -->
			<form role="form" id="appointmentForm">
				<div class="box-body">
					<div id="left">

						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label>Medication Name</label> <input class="form-control"
										id="medication" placeholder="Medication Name" type="text"
										validation="required"> <span class="help-block"></span>
								</div>
								<div class="col-xs-3">
									<label>Medication Type</label> <select
									data-bind="options:titleList,optionsText:'name',optionsValue:'id',value:title"
									class="form-control" id="medtype" required>
									<option value="">Tablet</option>
									<option value="">Syrup</option>
									<option value="">Capsule</option>
									
									</select>
								</div>

							</div>
							
						</div>
						

						

					</div>
				</div>
			</form>
			<!-- </div> -->
			<!-- /.box -->
			<div class="box-footer">
				<div class="col-md-5">
					<button type="button" class="btn btn-block btn-info"
						onclick="">Submit</button>
				</div>
				<div class="col-md-5">
					<button type="button" class="btn btn-block btn-danger btn-flat"
						onclick="WsUtils.hidePopup()">Cancel</button>
				</div>
			</div>

		</div>
		<!-- /.box -->
	</div>


	<!-- /.box-body -->
</section>