<form name="category">
<div class="form-group" id="categoryForm">
	<label >Category Name *</label> <input
		data-bind="value:name" class="form-control" id="category"
		placeholder="Enter Category Name" validation="required" type="empty">
	<span class="help-block"></span>
</div>

<div class="box-footer">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<button type="button" class="btn btn-block btn-info" onclick="new Category().saveCategory()">Submit</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-block btn-danger btn-flat" onclick="WsUtils.hidePopup()">Cancel</button>
		</div>
		<div class="col-md-2"></div>
	</div>
</form>