
<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 5px;
}

.bordererTable {
	border: 1px solid #cdcdcd;
	text-align: center;
}

table th, table td {
	padding: 2px;
	text-align: center;
}

</style>

<form name="group">

	<div id="patientGroupDiv">
	
	<div class="box-body">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-5">
					<label>Group Name </label> 
					<select class="form-control" data-bind="options:groupsList,optionsText:'name',optionsValue:'id',value:groupIdPat" >
					</select> 
					<span class="help-block"></span>
				</div>

				<div class="col-md-1">
					<label></label>
					<button type="button" class="btn btn-block btn-info"
						onclick="new PatientGroup().loadSelectedGroupsPatients();">Apply</button>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-5">
					<label>Patient Name </label> <input class="form-control"
					id="patientName" placeholder="Enter patient name"
					validation="required" type="empty"> <span class="help-block"></span>
				</div>


			</div>			
		</div>
	</div>
		<!-- <div class="form-group" id="groupForm">
			<label>Group Name *</label> 
			<select class="form-control" data-bind="options:groupsList,optionsText:'name',optionsValue:'id',value:groupIdPat" >
			</select> 
			<span class="help-block"></span>
		</div>
		


		<div class="form-group" id="groupForm">
			<label>Patient Name *</label> <input class="form-control"
				id="patientName" placeholder="Enter patient name"
				validation="required" type="empty"> <span class="help-block"></span>
		</div>
 -->
		<table border="1">
		
		 <thead   bgcolor="#3c8dbc">
        <tr data-bind="visible:patients().length" >
        	<th>Patient Name</th>
        	<th></th>
        </tr>
     </thead>
     <tbody data-bind="foreach: { data: patients  }">
			<tr>

			<td><div class="col-sm-5">
						<span class=" col-sm-7" data-bind="text:name"></span>
					</div></td>
				<td><div class="col-xs-5 deleteIconClass">
						<button type="button" class="btn btn-danger" data-bind="event: { click: function(data, event) { new PatientGroup().delGroupPatients(data.id);}}">Remove</button>
						<!-- <img src="../img/delete.png" alt="Delete"> -->
					</div></td>
			</tr>
			</tbody>
		</table>

		<div class="box-footer">

		</div>
	</div>
</form>