
<!-- left column -->
<div class="col-md-12" id="patientForm">
	<!-- general form elements -->
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Add Patient</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form role="form">
			<div class="box-body">
				<div id="left">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-1">
								<select class="form-control" id="title">
									<option>Title</option>
									<option>Mr.</option>
									<option>Miss.</option>
								</select>
							</div>
							<div class="col-xs-5">
								<input class="form-control" id="Name" placeholder="Name #"
									type="text" data-bind="value:name" validation="required">
							</div>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Profile ID" type="text"
									data-bind="value:profileId">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" id="mobileNumber"
									placeholder="Mobile Number #" type="number"
									data-bind="value:mobile" validation="required">
							</div>
							<div class="col-xs-6">
								<input class="form-control" id="patientLabel"
									placeholder="Patient Label" type="text" data-bind="value:label">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" id="address1"
									placeholder="Address 1" type="text" data-bind="value:address1">
							</div>
							<div class="col-xs-6">
								<input class="form-control" id="landlineNo"
									placeholder="Landline Number" type="number"
									data-bind="value:landline">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" id="address2"
									placeholder="Address 2" type="text" data-bind="value:address2">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-2">
								<input class="form-control" id="city" placeholder="City"
									type="text" data-bind="value:city">
							</div>
							<div class="col-xs-2">
								<input class="form-control" id="pincode" placeholder="Pincode"
									type="text" data-bind="value:pincode">
							</div>
							<div class="col-xs-2">
								<select class="form-control" id="bloodgroup"
									data-bind="options:bloodGroupList,optionsText:'name',optionsValue:'id',value:bloodGroup">
								</select>
							</div>
							<div class="col-xs-2">
								<select class="form-control" id="gender" validation="required"
									data-bind="options:genderList,optionsText:'name',optionsValue:'id',value:gender">
								</select>
							</div>
							<div class="col-xs-4">
								<input class="form-control" id="occupation"
									placeholder="Occupation" type="text"
									data-bind="value:occupation">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" id="email"
									placeholder="Email Address" type="email"
									data-bind="value:email">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-3">
								<input class="form-control" id="dob" placeholder="Date of Birth"
									type="text" data-bind="value:dob" validation="required">
							</div>
							<div class="col-xs-3">
								<input class="form-control" id="age" placeholder="Age"
									type="number" data-bind="value:age" validation="required">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<textarea class="form-control" rows="3"
									placeholder="Medical History" data-bind="value:medicalHistory"></textarea>
							</div>
							<div class="col-xs-6">
								<textarea class="form-control" rows="3"
									placeholder="Medical Alerts" data-bind="value:medicalAlert"></textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<textarea class="form-control" rows="3" placeholder="Allregies"
									data-bind="value:allergies"></textarea>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<textarea class="form-control" rows="3"
										placeholder="Dental History" data-bind="value:dentalHistory"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
		</form>
	</div>
	<!-- /.box -->

	<!-- <div class="box-footer">
			<button type="button" class="btn btn-primary"
				onclick="new Patient().savePatient()">Submit</button>
			<button type="button" class="btn btn-primary"
				onclick="new Patient().loadPatientsPageList()">Cancel</button>
		</div> -->

	<div class="box-footer">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<button type="button" class="btn btn-block btn-info"
				onclick="new Patient().savePatient()">Submit</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-block btn-danger btn-flat"
				onclick="new Patient().loadPatientsPageList()">Cancel</button>
		</div>
		<div class="col-md-2"></div>
	</div>

</div>
<!-- /.box -->

<!-- /.box-body -->
