<form name="sendSMS" id="sendSMSForm">

		<div class="form-group">
		<label >Group Name *</label>	
			<div class="row">	
				<div class="col-xs-12">
					<select
						data-bind="options:groupList,optionsText:'name',optionsValue:'id',value:grpIdSMS"
						class="form-control"  id="grpSelectedId" validation="required">
					</select>					
				</div>
			</div>
		</div>
							
		<div class="form-group">
			<label >SMS Type *</label>
			<div class="row">				
				<div class="col-xs-12">
					<select
						data-bind="options:smsTypeList,optionsText:'name',optionsValue:'id',value:smsType"
						class="form-control"  validation="required">
					</select>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label >Message *</label>
			<div class="row">
				<div class="col-xs-12">
				<textarea class="form-control" rows="5"
										placeholder="Message" data-bind="value:smsMsg" validation="required"></textarea>
				</div>
			</div>
		</div>


<div class="box-footer">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<button type="button" class="btn btn-block btn-info" onclick="new Group().sendsms()">Send SMS</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-block btn-danger btn-flat" onclick="WsUtils.hidePopup()">Cancel</button>
		</div>
		<div class="col-md-2"></div>
	</div>
</form>

