<section class="content">

	<div class="row">
		<!-- /.col -->
		<div class="col-md-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="javascript:void(0)" onclick="new Category().loadCategoryList()" data-toggle="tab"
						aria-expanded="false">Category</a></li>
					<li class=""><a href="javascript:void(0)" onclick="new Medications().loadMedicationsList()" data-toggle="tab"
						aria-expanded="false">Medications</a></li>
						
					<li class=""><a href="javascript:void(0)" onclick="new Group().loadGroupList()" data-toggle="tab"
						aria-expanded="false">PatientGroup</a></li>						
					
					<li class=""><a href="javascript:void(0)" onclick="new Settings().loadClinicDetailsPage()" data-toggle="tab"
						aria-expanded="false">Settings</a></li>

				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="categoryContainer" style="height:700px">
						
					</div>
					
					<div class="tab-pane " id="medicationsContainer">
						<div class="box-body"></div>
					</div>
					
					<div class="tab-pane " id="groupContainer">
						<div class="box-body"></div>
					</div>
					
				
					<!-- /.tab-pane -->

					<div class="tab-pane" id="settingsContainer">
						Settings under development
					</div>
					
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- /.nav-tabs-custom -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->


	</div>
</section>