Dear 
#if ($data.doctorName)
Dr $data.doctorName, 
#else
$data.patientName, 
#end
Your appointment 
#if ($data.doctorName)
with $data.patientName 
#end
at $data.hospitalName, on $data.dateTime has been cancelled.
For any assistance, kindly contact - $data.hospitalPhone