Dear 
#if ($data.doctorName)
Dr $data.doctorName,
#else
$data.patientName,
#end
Your appointment 
#if ($data.doctorName) 
with $data.patientName 
#end
at $data.hospitalName, rescheduled on $data.dateTime.
For any assistance, kindly contact - $data.hospitalPhone