.deleteIcon
{
	background: transparent url(../img/delete.png) no-repeat center; 
	cursor: pointer;
	width:60px;
    height:30px
}

.deleteIconImage{
	cursor: pointer;
	width:60px;
    height:30px;
    font-size: 26px;
    color:#ec0766;
}
	

.viewIcon
{
	cursor: pointer;
	width:60px;
    height:30px;
    font-size: 26px;
    color:#00a65a;
}

.closeIcon
{
	background: transparent url(../img/14.png) no-repeat center; 
	cursor: pointer;
	width:60px;
    height:30px
}
.headerFooterColor{
	background: #b1d688;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

