<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CMS</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" type="text/css"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- <link rel="stylesheet"	href="../css/tour/bootstrap-tour.css"> -->
<link rel="stylesheet" type="text/css"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/fullcalendar/dist/fullcalendar.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/fullcalendar/dist/fullcalendar.print.min.css"
	media="print">
<link rel="stylesheet" type="text/css"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/jquery-ui/themes/base/jquery-ui.css" />
<link rel="stylesheet" type="text/css"
	href="/bower_components/datetimepicker/jquery.datetimepicker.css" />
<link rel="stylesheet" type="text/css"
	href="/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css" />
<link rel="stylesheet" type="text/css"
	href="/bower_components/EasyAutocomplete/dist/easy-autocomplete.themes.min.css" />
<link rel="stylesheet" type="text/css"
	href="/bower_components/admin-lte/dist/css/AdminLTE.css">
<link rel="stylesheet" type="text/css"
	href="/bower_components/admin-lte/dist/css/skins/_all-skins.css">
<link rel="stylesheet" type="text/css" href="/css/intellion.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body
	class="hold-transition sidebar-mini-expand-feature sidebar-mini skin-blue">
	<a id="pagetop" ></a>
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="../index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>CMS</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-envelope-o"></i> <span class="label label-success"></span>
						</a>


							<ul class="dropdown-menu">
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-blue"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
												class="bg-light-blue"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin">Blue</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-black"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div
											style="box-shadow: 0 0 2px rgba(0, 0, 0, 0.1)"
											class="clearfix">
											<span
												style="display: block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
												style="display: block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #222"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin">Black</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-purple"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-purple-active"></span><span class="bg-purple"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin">Purple</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-green"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-green-active"></span><span class="bg-green"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin">Green</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-red"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-red-active"></span><span class="bg-red"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin">Red</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-yellow"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-yellow-active"></span><span class="bg-yellow"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin">Yellow</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-blue-light"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
												class="bg-light-blue"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin" style="font-size: 12px">Blue
										Light</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-black-light"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div
											style="box-shadow: 0 0 2px rgba(0, 0, 0, 0.1)"
											class="clearfix">
											<span
												style="display: block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
												style="display: block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin" style="font-size: 12px">Black
										Light</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-purple-light"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-purple-active"></span><span class="bg-purple"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin" style="font-size: 12px">Purple
										Light</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-green-light"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-green-active"></span><span class="bg-green"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin" style="font-size: 12px">Green
										Light</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-red-light"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-red-active"></span><span class="bg-red"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin" style="font-size: 12px">Red
										Light</p></li>
								<li style="float: left; width: 33.33333%; padding: 5px;"><a
									href="javascript:void(0)" data-skin="skin-yellow-light"
									style="display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)"
									class="clearfix full-opacity-hover"><div>
											<span
												style="display: block; width: 20%; float: left; height: 7px;"
												class="bg-yellow-active"></span><span class="bg-yellow"
												style="display: block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span
												style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
												style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div></a>
									<p class="text-center no-margin" style="font-size: 12px">Yellow
										Light</p></li>
							</ul></li>
						<!-- Notifications: style can be found in dropdown.less -->
						<!-- <li class="dropdown notifications-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									inner menu: contains the actual data
									<ul class="menu">
										<li><a href="#"> <i class="fa fa-users text-aqua"></i>
												5 new members joined today
										</a></li>
										<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
												Very long description here that may not fit into the page
												and may cause design problems
										</a></li>
										<li><a href="#"> <i class="fa fa-users text-red"></i>
												5 new members joined
										</a></li>

										<li><a href="#"> <i
												class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a></li>
										<li><a href="#"> <i class="fa fa-user text-red"></i>
												You changed your username
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul></li> -->
						<!-- Tasks: style can be found in dropdown.less -->
						<!-- <li class="dropdown tasks-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									inner menu: contains the actual data
									<ul class="menu">
										<li>
											Task item <a href="#">
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-aqua"
														style="width: 20%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										end task item
										<li>
											Task item <a href="#">
												<h3>
													Create a nice theme <small class="pull-right">40%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-green"
														style="width: 40%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">40% Complete</span>
													</div>
												</div>
										</a>
										</li>
										end task item
										<li>
											Task item <a href="#">
												<h3>
													Some task I need to do <small class="pull-right">60%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-red"
														style="width: 60%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">60% Complete</span>
													</div>
												</div>
										</a>
										</li>
										end task item
										<li>
											Task item <a href="#">
												<h3>
													Make beautiful transitions <small class="pull-right">80%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-yellow"
														style="width: 80%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">80% Complete</span>
													</div>
												</div>
										</a>
										</li>
										end task item
									</ul>
								</li>
								<li class="footer"><a href="#">View all tasks</a></li>
							</ul></li> -->
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="../dist/img/user2-160x160.jpg" class="user-image"
								alt="User Image"> <span class="hidden-xs"
								th:utext="${userName}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									src="../dist/img/user2-160x160.jpg" class="img-circle"
									alt="User Image"> <!-- <div class="panel-heading">
										<span th:utext="${userNameAndEmail}"></span>
									</div> --></li>
								<!-- Menu Body -->
								<!-- <li class="user-body">
									<div class="row">
										<div class="col-xs-4 text-center">
											<a href="#">Followers</a>
										</div>
										<div class="col-xs-4 text-center">
											<a href="#">Sales</a>
										</div>
										<div class="col-xs-4 text-center">
											<a href="#">Friends</a>
										</div>
									</div> 
								</li> -->
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="javascript:void(0)"
											onclick="new Profile().loadDoctorProfilePage()"
											class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<form th:action="@{/logout}" method="get">
											<button class="btn btn-default btn-flat" type="Submit">Logout</button>
										</form>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="../dist/img/user2-160x160.jpg" class="img-circle"
							alt="User Image">
					</div>
					<div class="pull-left info">
						<p>
							<span th:utext="${userName}"></span>
						</p>
						<!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
					</div>
				</div>
				<!-- search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">MAIN NAVIGATION</li>

					<li><a id="appointment" href="/calendar" onclick=""> <i
							class="fa fa-calendar"></i> <span>Appointment</span>
					</a></li>
					<li><a href="javascript:void(0)"
						onclick="new Patient().loadPatientsPageList()"> <i
							class="fa fa-envelope"></i> <span>Patient</span>
					</a></li>


					<li><a href="javascript:void(0)"
						onclick="new Doctor().loadDoctorPageList()"> <i
							class="fa fa-envelope"></i> <span>Doctor</span> </span>
					</a></li>

					

					<!-- <li><a href="javascript:void(0)"
						onclick="new Profile().loadPatientProfilePage()"> <i
							class="fa fa-envelope"></i> <span>Patient Profile</span>
					</a></li> -->

					

					<li><a href="javascript:void(0)"
						onclick="new Settings().loadSettingsPage('content')"> <i
							class="fa fa-envelope"></i> <span>Settings</span>
					</a></li>

					<li><a href="javascript:void(0)"
						onclick="new Prescriptions().loadPrescriptionForm('content')">
							<i class="fa fa-envelope"></i> <span>Prescriptions</span>
					</a></li>

					<li><a href="javascript:void(0)"
						onclick="new Prescriptions().loadPrescriptionListGrid('content')">
							<i class="fa fa-envelope"></i> <span>Prescriptions List</span>
					</a></li>


				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header" id="pageErrorMessage">
				<!-- 				<h1>
					Calendar <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Calendar</li>
				</ol>
 -->
			</section>

			<!-- Main content -->
			<section class="content" id="content">
				<div class="row">
					<!--  Left Panel  -->
					<div class="col-md-3">

						<div class="box box-solid">
							<div class="box-header with-border">
								<h4 class="box-title">Draggable Events</h4>
							</div>
							<div class="box-body">
								<!-- the events -->
								<div id="external-events">
									<div
										class="external-event bg-green ui-draggable ui-draggable-handle"
										style="position: relative;">Lunch</div>
									<div
										class="external-event bg-yellow ui-draggable ui-draggable-handle"
										style="position: relative;">Go home</div>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /. box -->

					</div>
					<div class="col-md-9">
						<div class="box box-primary">
							<div class="box-body no-padding">
								<!-- THE CALENDAR -->
								<div id="calendar"></div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /. box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> V1.1
			</div>
			<strong>Copyright &copy; 2017-2020 <a href="http://">Intellion</a>.
			</strong> All rights reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
						class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
						class="fa fa-gears"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane" id="control-sidebar-home-tab">
					<h3 class="control-sidebar-heading">Recent Activity</h3>
					<ul class="control-sidebar-menu">
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-birthday-cake bg-red"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

									<p>Will be 23 on April 24th</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-user bg-yellow"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Frodo Updated His
										Profile</h4>

									<p>New phone +1(800)555-1234</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-envelope-o bg-light-blue"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Nora Joined Mailing
										List</h4>

									<p>nora@example.com</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-file-code-o bg-green"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Cron Job 254
										Executed</h4>

									<p>Execution time 5 seconds</p>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->

					<h3 class="control-sidebar-heading">Tasks Progress</h3>
					<ul class="control-sidebar-menu">
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Custom Template Design <span
										class="label label-danger pull-right">70%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-danger"
										style="width: 70%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Update Resume <span class="label label-success pull-right">95%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-success"
										style="width: 95%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Laravel Integration <span
										class="label label-warning pull-right">50%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-warning"
										style="width: 50%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Back End Framework <span class="label label-primary pull-right">68%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-primary"
										style="width: 68%"></div>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->

				</div>
				<!-- /.tab-pane -->
				<!-- Stats tab content -->
				<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab
					Content</div>
				<!-- /.tab-pane -->
				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-settings-tab">
					<form method="post">
						<h3 class="control-sidebar-heading">General Settings</h3>

						<div class="form-group">
							<label class="control-sidebar-subheading"> Report panel
								usage <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Some information about this general settings option</p>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Allow mail
								redirect <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Other sets of options are available</p>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Expose author
								name in posts <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Allow the user to show his name in blog posts</p>
						</div>
						<!-- /.form-group -->

						<h3 class="control-sidebar-heading">Chat Settings</h3>

						<div class="form-group">
							<label class="control-sidebar-subheading"> Show me as
								online <input type="checkbox" class="pull-right" checked>
							</label>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Turn off
								notifications <input type="checkbox" class="pull-right">
							</label>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Delete chat
								history <a href="javascript:void(0)" class="text-red pull-right"><i
									class="fa fa-trash-o"></i></a>
							</label>
						</div>
						<!-- /.form-group -->
					</form>
				</div>
				<!-- /.tab-pane -->
			</div>
		</aside>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<div id="wholepagepopup" class="hide"
		style="box-sizing: border-box; position: absolute; left: 0px; top: 0px; background-color: #FFF; width: 100%; height: 100%; z-index: 1040">
		<div class="popupHeader"
			style="background-color: #2196f3; height: 58px; vertical-align: middle;">
			<div class="row" id="headerContent"></div>			
		</div>
		<div id="closeBtn"
			style="position: absolute; top: 1%; right: 50px; font-size: 30px; font-weight: bold; cursor: pointer"
			onClick="closeWholePagePopup()">X</div>


		<div id="popupcontent"></div>
	</div>


	<script type="text/javascript"
		src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- <script src="../js/tour/bootstrap-tour.js"></script> -->
	<script type="text/javascript"
		src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/knockout/dist/knockout.js"></script>
	<script type="text/javascript"
		src="/bower_components/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/fastclick/lib/fastclick.js"></script>
	<script type="text/javascript"
		src="/bower_components/admin-lte/dist/js/adminlte.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/moment/min/moment.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/jquery.validate/dist/jquery.validate.min.js"></script>
	<script type="text/javascript"
		src="/bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

	<script src="/js/utils/ServiceCalls.js"></script>
	<script src="/js/utils/WsUtils.js"></script>
	<script src="/js/Doctor.js"></script>
	<script src="/js/Patient.js"></script>
	<script src="/js/GridViewModel.js"></script>
	<script src="/js/Profile.js"></script>
	<script src="/js/PageContents.js"></script>
	<script src="/js/Appointment.js"></script>
	<script src="/js/prescriptions.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/Category.js"></script>
	<script src="/js/Medications.js"></script>
	<script src="/js/Group.js"></script>
	<script src="/js/PatientGroup.js"></script>
	<script src="/js/settings.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/bower_components/admin-lte/dist/js/demo.js"></script>

	<!-- Page specific script -->
	<script>
		$(document).ready(function() {
			 /* if(!localStorage.getItem("user")){
				  new login().doLogOff();
			  }else{
				  new Appointment().initializeCalander();
			  } */
			 new Appointment().initializeCalander();
		}); 
		function closeWholePagePopup(){
			$("#wholepagepopup").hide();
			$("#content").show();
		}
	</script>
</body>
</html>
