<html><head><title>CMS</title>
<style>
div.relative {
    position: absolute;
    top: 830px;
    width: 97%;
}
div.footer {
    position: absolute;
    top: 860px;
    width: 100%;
}

</style>

</head>
#if($prescription)
#set($patient = $prescription.patientDto.name)
#set($patientAge = $prescription.patientDto.age)
#set($patientGender = $prescription.patientDto.gender.gender)
#set($doctor = $prescription.doctorDto.name)
#set($doctorQualification = $prescription.doctorDto.qualification)
#set($doctorAddlQualification = $prescription.doctorDto.additionalQualification)
#set($date = $prescription.date)
#end
#if($clinic)
#set($clinicName = $clinic.clinicName)
#set($addressLine1 = $clinic.addressLine1)
#set($addressLine2 = $clinic.addressLine2)
#set($mobile = $clinic.mobile)
#set($area = $clinic.area)
#set($city = $clinic.city)
#set($state = $clinic.state)
#set($pincode = $clinic.pincode)
#set($email = $clinic.email)
#set($landline = $clinic.landline)
#set($website = $clinic.website)
#end
<table>	
<tbody>
	<tr>
		<td style="text-align: left;width:40%;">
		<h1 style="color: #00ff00; text-align: left;">$clinicName</h1>
		<h3 style="color: #3333cc; text-align: left;">$doctor  $doctorQualification</h3>
		<h4 style="color: #ff0066; text-align: left;">$doctorAddlQualification</h4>
		<p style="text-align: left;">$addressLine1, $addressLine2, $area</p>
		<p style="text-align: left;">$city - $pincode.</p>
		<p style="text-align: left;">Email:<a href="mailto:$email">$email</a></p>
		<p style="text-align: left;">Web: $website</p>
		</td>
		
		<td style="text-align: right;width:30%;">
		<p style="position: absolute;top: 256px;text-align: right;width: 100%;">Mobile:$mobile</p>
		<p style="position: absolute;top: 223px;text-align: right;width: 100%;">Landline:$landline</p>
		</td>
	</tr>
		
		
</tbody>
</table>
<p style="color: #5e9ca0; text-align: center;"></p>
<hr></hr>
<pre>
<B>Patient:</B> $patient                <B>Age/Gender:</B> $patientAge/$patientGender                   <B>Date:</B>$date
</pre>
<table class="minimalistBlack" style="width: 100%;" border="1">
<thead>
<tr>
<td width="15%" bgcolor="blue" ><B>Medication</B></td>
<td width="4%" bgcolor="blue" ><B>Days</B></td>
<td width="7%" bgcolor="blue" ><B>Morning</B></td>
<td width="7%" bgcolor="blue" ><B>Noon</B></td>
<td width="7%" bgcolor="blue" ><B>Night</B></td>
<td width="60%" bgcolor="blue" ><B>Notes</B></td>
</tr>
</thead>
<tbody>
#foreach($prescriptionEntry in $prescription.prescriptionEntries)
<tr>
#set($medicationName = $prescriptionEntry.medicationDto.name)
#set($noOfDays = $prescriptionEntry.noOfDays)
#set($morning = $prescriptionEntry.morning)
#if($prescriptionEntry.beforeFood_morning)
#set($morning = $morning + 'BF')
#else
#set($morning = $morning + 'AF')
#end
#set($noon = $prescriptionEntry.noon)
#if($prescriptionEntry.beforeFood_noon)
#set($noon = $noon + 'BF')
#else
#set($noon = $noon + 'AF')
#end
#set($night = $prescriptionEntry.night)
#if($prescriptionEntry.beforeFood_night)
#set($night = $night + 'BF')
#else
#set($night = $night + 'AF')
#end
#set($notes = $prescriptionEntry.notes)
#if($medicationName)

   <td style="width: 79px;">$medicationName</td> 
   <td style="width: 79px;">$noOfDays</td>
   <td style="width: 79px;">$morning</td>
   <td style="width: 79px;">$noon</td>
   <td style="width: 79px;">$night</td>
   <td style="width: 79px;">$notes</td>
   
 </tr> 
#end
#end
   

   </tbody>
   </table>
   
   <div align="right" class="relative">
   		<p style="color: black;">Signature</p>
   		
	</div>
		
		<div align="center" class="footer">
		<br></br>
		<hr></hr>
		<br></br>
<pre>
<B>Web: $website</B>          <B>$clinicName</B>           <B>Ph:$landline</B>
</pre>
</div>

</html>